.nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 160px;
    width: 100%;

    &__item {
        border-radius: 6px;
        color: #FFFF;
        font-size: 1.45rem;
        margin: auto 20px;
        padding: 5px;
        text-decoration: none;

        &:hover {
            box-shadow: 0 0 4px 4px orange;
        }

        &--focused {
            border-bottom: solid 2px orange;

            .material-icons {
                color: orange;
            }
        }

        .material-icons {
            margin-bottom: 5px;
            margin-right: 5px;
        }
    }

    @media (max-width: 768px) {
        width: 60px;

        &__item {
            span {
                visibility: hidden;
            }
        }
    }
}