
:root {
  --orange-color: #FB6834;
  --gray-color: #666;
}

* {
  box-sizing: border-box;
}

.html, body {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.curriculum,
.content {
  height: 100vh;
  overflow-y: auto;
  width: 100vw;
}

.header {
  position: fixed;
  right: 20px;
  top: 0;
  z-index: 2;
}
  .header__menu {
    align-items: center;
    display: flex;
    height: 80px;
  }
    .header__menu-item {
      align-items: center;
      background-color: white;
      border: solid 1px lightgray;
      border-radius: 50%;
      display: flex;
      height: 50px;
      justify-content: center;
      margin: 0 10px;
      padding: 15px;
      text-decoration: none;
      width: 50px;
    }
      .header__menu-item i::before {
        color: var(--gray-color);
        font-size: 1.2rem;
        transition: all .4s linear;
      }
      .header__menu-item:hover {
        background-color: var(--orange-color);
        border-color: var(--orange-color);
        cursor: pointer;
        transition: all .4s linear;
      }
      .header__menu-item:hover i::before{
        color: white;
      }


.nav {
  background-color: white;
  border: solid 1px transparent;
  border-radius: 20px;
  bottom: 20px;
  box-shadow: 0 0 3px 1px var(--gray-color);
  display: flex;
  left: 50%;
  padding: 5px 10px;
  position: fixed;
  transform: translateX(-50%);
}
  .nav__item {
    color: var(--gray-color);
    position: relative;
    min-width: 120px;
  }
    .nav__item,
    .nav__item--active {
      transition: all .2s linear;
    }
    .nav__item--active {
      color: var(--orange-color);
    }


.personal-info,
.experience {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.content {
  overflow-y: auto;
  padding-bottom: 20px;
}
  .name,
  .description,
  .avatar {
    margin: 15px 0;
  }

  .name {
    font-size: 3rem;
    font-weight: bold;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.2rem;
    margin-top: 30px;
    text-align: justify;
    width: 60vw;
  }
  .avatar {
    height: 300px;
    width: 300px;
  }

.experience {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 300px;
  padding: 40px;
}
  .experience__item {
    border-radius: 10px;
    box-shadow: 0 0 6px 1px var(--gray-color);
    height: 300px;
    padding: 50px 10px 10px 10px;
    position: relative;
  }
  .experience__item-dates {
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 10px;
    position: absolute;
    right: 0;
  }
    .from,
    .to {
      border-radius: 5px;
      padding: 4px;
    }
    .from  {
      background-color: lightgray;
      /* position: relative; */
    }
      .from::before {
        border: dashed 1px lightgray;
        bottom: 12px;
        content: "";
        height: 0;
        left: 10px;
        position: absolute;
        width: calc(100% - 25px);
        z-index: -1;
      }
    .to  {
      background-color: var(--orange-color);
      color: white;
    }

  .experience__item-position {
    font-size: 1.1rem;
    font-weight: bold;
    height: 30px;
    text-decoration: underline;
  }

  .experience__item-company {
    align-items: center;
    background-color: var(--gray-color);
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .experience__item-description {
    height: calc(100% - 80px);
    overflow-y: auto;
  }


@media screen and (max-width: 860px) {
  .header {
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
  }

  .avatar {
    margin-top: 150px;
  }

  .name {
    text-align: center;
  }

  .description {
    width: 90vw;
  }

  .nav {
    visibility: hidden;
  }

  .experience__item:last-child {
    margin-bottom: 30px;
  }
}