.progress-bar {
    background-color: #2A2A2A;
    border-radius: 15px;
    height: 25px;
    position: relative;

    &__fill {
        background-color: #D24B4B;
        border-radius: 15px;
        height: 100%;
        position: absolute;
    }

    &__value {
        color: #FFFFFF;
        margin-left: calc(100% - 50px);
        z-index: 3;

        &:after {
            content: '%';
        }
    }
}