$avatar-height: 200px;
$avatar-width: 200px;
$image-size: 120px;
$name-font-size: 1.25rem;

.avatar {
    height: $avatar-height;
    left: 50%;
    position: fixed;
    top: 70px;
    transform: translateX(-50%);
    width: $avatar-width;

    &__image {
        border: solid 5px #2196f3;
        border-radius: 50%;
        box-sizing: border-box;
        height: $image-size;
        left: calc((100% - #{$image-size}) / 2);
        position: absolute;
        width: $image-size;
    }

    &__name {
        font-size: $name-font-size;
        font-weight: bold;
        position: absolute;
        top: calc(#{$image-size});
    }

    &__position {
        font-size: 1rem;
        left: 25px;
        position: absolute;
        top: calc(#{$image-size} + 30px);
    }
}