.presentation {
    padding: 10px;

    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__content {
        font-size: 1.45rem;
        text-align: justify;
    }
}