$avatar-height: 120px;
$avatar-width: 120px;
$image-size: 120px;

.avatar {
    border-radius: 50%;
    cursor: pointer;
    height: $avatar-height;
    left: 50%;
    position: fixed;
    top: 135px;
    transform: translateX(-50%);
    width: $avatar-width;

    &:hover {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.9);
    }

    &--focused {
        box-shadow: 0 0 5px 5px #FFF;
    }

    &__image {
        border: solid 5px #2196f3;
        border-radius: 50%;
        box-sizing: border-box;
        height: $image-size;
        left: calc((100% - #{$image-size}) / 2);
        position: absolute;
        width: $image-size;
    }
}